### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_p = len(df['SN'].unique())
Num_Players = pd.DataFrame({"Total Players": [total_p]})
Num_Players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
num_unique = len(df['Item ID'].unique())
avg_price = df['Price'].mean()
num_purchase = df['Purchase ID'].count()
total_rev = df['Price'].sum()

Summary_1= pd.DataFrame({"Number of Unique Items": [num_unique],
                        "Average Price" : avg_price,
                         "Number of Purchases" : num_purchase,
                         "Total Revenue" : total_rev
                        })

format_dict = {'Average Price':'${:,.2f}','Total Revenue':'${:,.2f}'}
Summary_1.style.format(format_dict)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#FIND unique gender
uniq_gen = df["Gender"].unique()
uniq_gen

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [5]:
Male = df.loc[df["Gender"] == "Male" ,"SN"]
Male_uniq = len(Male.value_counts())
M_Per = Male_uniq / total_p

Female = df.loc[df["Gender"] == "Female" ,"SN"]
Female_uniq = len(Female.value_counts())
F_Per = Female_uniq / total_p 

Other = df.loc[df["Gender"] == "Other / Non-Disclosed", "SN"]
Other_uniq = len(Other.value_counts())
O_Per = Other_uniq / total_p 

gender_summary_table = pd.DataFrame([[Female_uniq, F_Per],[Male_uniq, M_Per],[Other_uniq, O_Per]],
     index=['Female','Male', 'Other / Non-Disclosed'],
     columns=['Total Counts', 'Percentage of Players'])

format_dict = {'Percentage of Players':'{:,.2%}'}

gender_summary_table.style.format(format_dict)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
grp_gen = df.groupby(['Gender'])

total_purchase = grp_gen['Purchase ID'].count()
avg_purchase = grp_gen['Price'].mean()
total_value = grp_gen['Price'].sum()
avg_total = [value for value in total_value]/gender_summary_table['Total Counts']

purchasing_summary_tbl = pd.DataFrame({"Purchase Count" : total_purchase,
                                       "Average Purchase Price":avg_purchase,
                                      "Total Purchase Value":total_value,
                                      "Avg Total Purchase per Person":avg_total})

format_dict = {'Average Purchase Price':'${:,.2f}','Total Purchase Value':'${:,.2f}','Avg Total Purchase per Person':'${:,.2f}'}

purchasing_summary_tbl.style.format(format_dict)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, max(df['Age'])]

group_names = ["<10", "10-14", "14-19", "20-24", "25-29", "30-35",
              "36-40", "40+"]

df["Age_group"] = pd.cut(df["Age"], bins, labels=group_names)
df["Age_group"]

age_df = df.groupby("Age_group")

total_count = age_df['SN'].nunique()
percent_player = total_count / total_p

age_summary_tbl = pd.DataFrame({"Total Count" : total_count,
                                  "Percentage of Players" : percent_player
                                 })

format_dict = {'Percentage of Players':'{:,.2%}'}

age_summary_tbl.style.format(format_dict)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
pur_count = age_df['Purchase ID'].nunique()
total_pur = age_df['Price'].sum()
avg_pur_price = (total_pur / pur_count)
avg_total_per_person = (total_pur / total_count)
purch_summary_tbl = pd.DataFrame({"Purchase Count" : pur_count,
                                  "Average Purchase Price" : avg_pur_price,
                                       "Total Purchase Value": total_pur,
                                       "Avg Total Purchase per Person" : avg_total_per_person
                                 })

format_dict = {'Average Purchase Price':'${:,.2f}','Total Purchase Value':'${:,.2f}','Avg Total Purchase per Person':'${:,.2f}'}

purch_summary_tbl.style.format(format_dict)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
spender_df = df.groupby("SN")
spen_pur_count = spender_df['SN'].count()
total_spen_pur_val = spender_df['Price'].sum()
avg_spen_pur_price = (total_spen_pur_val/spen_pur_count).astype(float).map("${:,.2f}".format)

top_spender = pd.DataFrame({"Purchase Count" : spen_pur_count,
                                  "Average Purchase Price" : avg_spen_pur_price,
                                       "Total Purchase Value": total_spen_pur_val.astype(float).map("${:,.2f}".format),
                                 })

format_dict = {'Average Purchase Price':'${:,.2f}','Total Purchase Value':'${:,.2f}'}

top_spender.style.format(format_dict)

top_spender.sort_values(by='Total Purchase Value', ascending=False).head()

              Purchase Count Average Purchase Price Total Purchase Value
SN
Haillyrgue51               3                  $3.17                $9.50
Phistym51                  2                  $4.75                $9.50
Lamil79                    2                  $4.64                $9.29
Aina42                     3                  $3.07                $9.22
Saesrideu94                2                  $4.59                $9.18

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [16]:
pop_df = pd.DataFrame({'Item ID': df['Item ID'],
                       'Item Name': df['Item Name'],
                       'Item Price': df['Price']})

grp_pop = pop_df.groupby(["Item ID","Item Name"])


pop_pur_count = grp_pop['Item Name'].count()
item_price = grp_pop['Item Price'].unique()
total_pop_val = pop_pur_count * item_price


pop_item_tbl = pd.DataFrame({"Purchase Count" : pop_pur_count,
                                  "Item Price" : item_price.astype(float).map("${:,.2f}".format),
                                       "Total Purchase Value": total_pop_val.astype(float).map("${:,.2f}".format),
                                 })

pop_sort = pop_item_tbl.sort_values(by='Purchase Count', ascending=False)

format_dict = {'Item Price':'${:,.2f}','Total Purchase Value':'${:,.2f}'}

pop_sort.style.format(format_dict)
pop_sort.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [17]:
pop_df = pd.DataFrame({'Item ID': df['Item ID'],
                       'Item Name': df['Item Name'],
                       'Item Price': df['Price']})

grp_pop = pop_df.groupby(["Item ID","Item Name"])


pop_pur_count = grp_pop['Item Name'].count()
item_price = pop_item_tbl['Item Price']
total_pop_val = grp_pop['Item Price'].sum()


pro_item_tbl = pd.DataFrame({"Purchase Count" : pop_pur_count,
                                  "Item Price" : item_price,
                                       "Total Purchase Value": total_pop_val,
                                 })


format_dict = {'Item Price':'${:,.2f}','Total Purchase Value':'${:,.2f}'}
pro_sort = pro_item_tbl.sort_values(by = "Total Purchase Value", ascending=False)
pro_sort.style.format(format_dict)
pro_sort.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
82,Nirvana,9,$4.90,44.10
145,Fiery Glass Crusader,9,$4.58,41.22
92,Final Critic,8,$4.88,39.04
103,Singed Scalpel,8,$4.35,34.80